*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Playwrite CU", 'cursive';
}

.title{
    
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}
